
:root {
  --background-color: #141D2F;
  --font-color: #ffffff;
  --primary-color: #1E2A47;
  --accent-color: #0079FF;
}

[data-theme='light'] {
  --background-color: #F6F8FF;
  --font-color: #4B6A9B;
  --primary-color: #FEFEFE;
}

button {
  color: var(--accent-color);
  border: none;
  display: flex;
  justify-content: space-evenly;
  width: 89px;
  height: 20px;
  background-color: transparent;
  text-transform: uppercase;
}

svg {
  fill: currentColor;
}