:root {
  --background-color: #141D2F;
  --font-color: #ffffff;
  --primary-color: #1E2A47;
  --accent-color: #0079FF;
}

[data-theme='light'] {
  --background-color: #F6F8FF;
  --font-color: #4B6A9B;
  --primary-color: #FEFEFE;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: .8125rem;
  height: 100vh;
  margin: 1.93rem 1.5rem;
}


h1 {
  font-size: 1.625rem;
  font-weight: 700;
  letter-spacing: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.25rem;
}

button.theme-toggle {
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--font-color);
  cursor: pointer;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.theme-toggle svg {
  fill: currentColor;
  margin-left: 1rem;
  height: 20px;
  width: 20px;
}
